.headerWococo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px 20px;
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

.navbarContent {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}


@media only screen and (max-width: 420px) {
  .navbarContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}